---
import { sanityClient } from "sanity:client";
import Button from "./Button.astro";


const {link, price, days, programId, time, recommendedAge="8+" } = Astro.props

const query = `*[_id == $programId].quantity`
const quantity = await sanityClient.fetch(query, {programId: programId})
---

<div class="program-meta shadow-xl rounded">
    <h3>${price} <span class="text-sm">({quantity} seat{quantity != 1 &&`s`} left)</span></h3>
    <p><strong>Dates:</strong> {days}</p>
    <p><strong>Time:</strong> {time}</p>
    <p><strong>Ages:</strong> {recommendedAge}</p>
    {quantity > 0 &&
    <Button className="block text-center w-full mt-5" href={link} text="Sign up" />
}
{ 
    quantity < 1 && (
        <form name="waitlist" method="POST" data-netlify="true">
            <h3 class="mb-4" >Join the waitlist</h3>
            <p class="mb-4">We'll notify you if a seat opens.</p>
        <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input type="email" id="email" name="email" required class="mt-1 block w-full rounded-md border border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-base py-2" />
        </div>
        <input type="text" hidden value={programId} />
        <div>
            <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-green-700 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            Submit
            </button>
        </div>

    </form>
    )
}

<style>
    @import "tailwindcss";
    .program-grid {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1rem;
    }
    form p {
        @apply mb-5;
    }
    form h3 {
        @apply mt-10 mb-1;
    }
    .program-meta {
        padding: 1rem;
        background-color: white;
        align-self: start;
        
        h3 {
            @apply text-3xl font-bold mb-5;

        }
        h4 {
            @apply text-xl mb-2;
        }
        p {
            @apply text-lg m-0;
        }
        
    }
</style>