---
import { sanityClient } from "sanity:client";
import Button from "./Button.astro";


const {link, price, days, programId, time, recommendedAge="8+" } = Astro.props

const query = `*[_id == $programId].quantity`
const quantity = await sanityClient.fetch(query, {programId: programId})

---

<div class="program-meta shadow-xl rounded">
    <h3>${price} <span class="text-sm">({quantity} seat{quantity >1 &&`s`} left)</span></h3>
    <p><strong>Dates:</strong> {days}</p>
    <p><strong>Time:</strong> {time}</p>
    <p><strong>Ages:</strong> {recommendedAge}</p>
    {quantity > 0 &&
    <Button className="block text-center w-full mt-5" href={link} text="Sign up" />
}
  <style>
    @import "tailwindcss";
    .program-grid {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1rem;
    }
    .program-meta {
        padding: 1rem;
        background-color: white;
        align-self: start;
        
        h3 {
            @apply text-3xl font-bold mb-5 ;

        }
        h4 {
            @apply text-xl mb-2;
        }
        p {
            @apply text-lg m-0;
        }
        
    }
    </style>