---
import background from "../assets/background.svg";
import '../styles/global.css';

const {title, description} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/meeple.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title || "When We Play"} />
    {description && <meta property="og:description" content={description} />}
     <meta name="description" content={description} />
    <meta property="og:site_name" content="When We Play" />
    <meta property="og:image" content={new URL('/meeple.svg', Astro.url)} />

    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    {description && <meta property="twitter:description" content={description} />}
    <meta property="twitter:image" content={new URL('/meeple.svg', Astro.url)}  /> 


    <title>{title} When We Play</title>
  </head>
  <body>
      <header class="bg-white shadow-md mb-5">
        <div class="container mx-auto flex items-center justify-between py-4 px-6">
          <div class="text-3xl font-bold text-green-700">
            <a href="/">When We Play</a>
          </div>
          <nav class="flex space-x-4">
            <a href="/about" class="text-gray-700 hover:text-green-700">About</a>
            <a href="/materials" class="text-gray-700 hover:text-green-700">Materials</a>
            <a href="/programs" class="text-gray-700 hover:text-green-700">Programs</a>

            <a href="/blog" class="text-gray-700 hover:text-green-700">Blog</a>
          </nav>
        </div>
      </header>
      <img id="background" src={background.src} alt="" fetchpriority="high" />
        <main class="block relative mb-10">

          <slot />
              
        </main>
      <footer class="bg-gray-300 text-white py-6">
        <div class="container mx-auto text-center">
          <p>&copy; {new Date().getFullYear()} When We Play. All rights reserved.</p>
          <p class="text-sm">Made with ❤️ by the When We Play team</p>
        </div>
  </body>

  <style>
    html,
    body {
      margin: 0;
     
    }
  </style>

</html>
