---
import type { SanityDocument } from "@sanity/client";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { PortableText } from "astro-portabletext";
import Availability from "../../components/Availability.astro";
import SanityImage from "../../components/SanityImage.astro";
import Container from "../../components/Container.astro";
import Search from "../../components/Search";
import CheckoutForm from "../../components/CheckoutForm.astro";

export async function getStaticPaths() {
    const materials = await getCollection("materials");

    const paths = materials
        .filter((material) => material.data.slug) // Ensure slug exists
        .map((material) => ({
            params: { slug: material.data.slug },
            props: { material: material.data },
        }));

    return paths;
}

const materials = await getCollection("materials");

const groupedMaterials = materials.reduce(
    (
        acc: { name: string; slug: string; materials: typeof materials }[],
        material,
    ) => {
        const itemTypeName = material.data.itemType || "unknown";
        const itemTypeSlug = itemTypeName.toLowerCase().replace(/\s+/g, "-"); // Convert itemType to slug format

        if (!acc.some((group) => group.slug === itemTypeSlug)) {
            acc.push({
                name: itemTypeName,
                slug: itemTypeSlug,
                materials: [],
            });
        }

        const group = acc.find((group) => group.slug === itemTypeSlug);
        if (group) {
            group.materials.push(material);
        }

        return acc;
    },
    [],
);

const { material } = Astro.props;
const { name, tagline, slug, description, msrp, age } = material;
---

<Layout title={name}>
    <Container style="full">
        <div class="grid grid-cols-[.5fr_3fr] gap-8">
            <div>
                <h3 class="text-xl font-bold">Categories</h3>
                <ul>
                    {
                        groupedMaterials.map((groupLoop) => (
                            <li>
                                <a href={`/materials/${groupLoop.slug}`}>
                                    {groupLoop.name} ({groupLoop.materials.length})
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>

            <div>
                <Search client:load />
                <div class="flex mb-10 justify-between items-center">
                    <h1 class="text-2xl font-bold">{name}</h1>
                    {tagline && <p class="text-gray-600">{tagline}</p>}
                    <div class="text-right">
                        <Availability available={material.available} />
                        <!-- {msrp && <div class="text-xs mt-2">Save <em>${msrp}</em> by checking this out</div>}
                <div class="text-xs mt-2">For ages {age}</div> -->
                    </div>
                </div>
                <div class="md:max-w-1/2 md:mr-10 md:float-start mb-3">
                    {
                        material?.boxArt && (
                            <SanityImage
                                image={material.boxArt}
                                alt={name}
                                width={400}
                                className="w-full object-contain object-center h-[20rem] block"
                            />
                        )
                    }
                </div>
                <div class="prose max-w-full">
                    <PortableText value={description} />

                    <h3>Request to checkout {material.name}</h3>
                    <CheckoutForm material={material} />
                </div>
            </div>
        </div>
    </Container>
</Layout>
